{
  "presets": [
    ["env", {
      "modules": false,
      "loose": false
    }],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
